@charset "utf-8";
/* TourSpots.css */

.d{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #9621F1;
    padding: 10px 10px;
    align-items: center;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: space-between;
    margin-right: 20px;
}