@charset "utf-8";

.MTSection4{
    padding: 0 20px;
    margin-bottom: 60px;
}
.MTSection4 h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 26px;
}
.MTSection4 button{
    width: 100%;
    border-radius: 4px;
}
.MTSection4 .off{
    display: none;
}


/* 아이템 영역 */
.MTSection4Item{
    margin-bottom: 40px;
    cursor: pointer;
}
.MTSection4Item:last-child{
    margin-bottom: 20px;
}
.MTSection4Item .title{
    font-size: 16px;
    font-weight: 600;
}
.MTSection4Item .top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.MTSection4Item .info p{
    font-size: 13px;
    color: #777;
}
.photoList{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 10px;
}
.photoList > div{
    width: 50%;
    max-height: 150px;
}
.photoList .p_L{
    border: 1px solid #fff;
}
.photoList .p_L img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photoList .p_R{
    display: flex;
    flex-wrap: wrap;
}
.photoList .p_R p{
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.photoList .p_R img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MTSection4Item .txt{ 
    margin-bottom: 6px;
    font-size: 14px;
}
.MTSection4Item .postInfo{
    justify-content: right;
    display: flex;
    margin-bottom: 6px;
    font-size: 13px;
}
.MTSection4Item .postInfo p{
    padding-left: 15px;
    margin-left: 16px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: left;
    color: #777;
}
.MTSection4Item .recoNum{
    background-image: url(/public/assets/icon-heart-line.svg);
}
.MTSection4Item .commentNum{
    background-image: url(/public/assets/icon-chat.svg);
}
.MTSection4Item .downloadNum{
    background-image: url(/public/assets/icon-download.svg);
}
