@charset "utf-8";
/* Button.css */

.Button .btn.default{
    font-size: 12px;
    font-weight: 600;
    color: #121212;
    padding: 10px;
    background-color: #eeee;
}
.Button .btn.active{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    background-color: #368FFF;
}
.Button .btn.deActive{
    font-size: 12px;
    font-weight: 600;
    color: #666666;
    padding: 10px;
    background-color: #eeee;
}
.Button .btn.blue_font_border{
    font-size: 12px;
    font-weight: 600;
    color: #368FFF;
    padding: 10px;
    border: 1px solid #368FFF;
    background-color: #fff;
}
.Button .btn.green{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    background-color: #0BD0AF;
}
.Button .btn.gray_border{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}